PORT=3000
NODE_ENV=development
DB_STORAGE=database.sqlite
DATABASE_URL=
DATABASE_SSL=false
JWT_ACCESS_SECRET=cambia_este_access_secret
JWT_REFRESH_SECRET=cambia_este_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
CORS_ORIGIN=*
